
$u-VCard__org--font: bold 1em $sans-serif;

$u-lFooter--fontSize: inherit;

$u-NavSite__level--mobileBorderColor: inherit;
$u-NavSite__level--borderColor: inherit;

$u-NavSite__level--1--mobileColor--hover: inherit;
$u-NavSite__level--1--mobileColor--open: inherit;
$u-NavSite__level--X--mobileColor--hover: inherit;
$u-NavSite__level--X--mobileColor--open: inherit;

$u-NavSite__level--1--color--hover: inherit;
$u-NavSite__level--1--color--open: inherit;
$u-NavSite__level--X--color--hover: inherit;
$u-NavSite__level--X--color--open: inherit;

$u-Bio__title--font: inherit;
$u-Bio__title--color: inherit;

$u-VCard__site--linkColor: #b6c4ca;

$u-BreadCrumbs__item__separator: #C4B699;